/* .catalogue{
} */
/* .catalogue__container {
} */
.catalogue__content {
  padding: 88px 0 80px;
}
.catalogue__heading {
  margin-bottom: 25px;
}
/* .flags-wrapper {
} */
.catalogue__descr {
  max-width: 1080px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}
.catalogue__tab {
  display: flex;
  align-items: flex-start;
}
/* .card {
} */
.tab__card {
  width: 46.875%;
  margin-right: 3.125%;
}
.card__pic {
  margin-bottom: 26px;
}
.card__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}
.card__date {
  display: block;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}
.card__text {
  margin: 0;
  font-size: 16px;
  line-height: 2;
  color: #333;
}

.tab__accordion {
  width: 50%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion__btn {
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  padding: 41px 0;
  text-align: left;
  border: none;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  outline: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion__btn:hover {
  border-top-color: var(--theme-color);
  border-top-color: var(--theme-color);
  color: var(--theme-color);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: start;
  align-content: space-between;
  height: calc(630px - 14.8vw);
  max-height: 440px;
  width: 100%;
  padding: 24px 13.6% 24px 0;
}
.panel__item {
  margin-right: 1em;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}
.panel-placeholder {
  display: flex;
  padding: 25px 0;
}
.pic-placeholder {
  width: 251px;
  height: 165px;
  margin: 12px;
  outline: 2px solid #b7b7b7;
  outline-offset: 10px;
  background-color: #b7b7b7;
}
.text-placeholder {
  margin-left: 24px;
  width: 275px;
}
.caption-placeholder {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}
.descr-placeholder {
  font-size: 16px;
  line-height: 22px;
  color: #333;
}
.link-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9d5cd0;
}
@media screen and (max-width: 1920px) {
}
