.projects-caption {
  color: #fff;
}

.swiper {
  width: 80vw;
  height: 80vh;
}

.swiper-slide {
  padding: 20px 20px 40px;
}

.card {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card-img-top {
  max-height: 55%;
  object-fit: cover;
  object-position: top;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card-title {
  text-align: center;
  margin-bottom: 1em;
}

.projects-content {
    display: flex;
}

@media (max-width: 768px) {
  .projects-caption {
    display: none;
  }
  .projects-content {
    flex-direction: column;
    height: 100%;
  }
  .card {
    flex-direction: row;
  }
  .card-img-top {
    max-width: 50%;
    max-height: 100%;
    object-position: left;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .card-text {
    display: none;
  }
}