/* .contacts {
} */

.contacts__wrapper {
  position: relative;
  min-width: 437px;
  width: 32.625%;
  padding: 123px calc(79px + 2.23vw) 124px 0;
  border-right: 1px solid #CACACA;
}

/* .contacts__container {
} */

.contacts__content {
  padding: 49px 0 0;
  /* overflow: hidden; */
}

.contacts__heading {
  margin-bottom: 24px;
}

.contacts__divider {
  position: relative;
  left: calc(-1 * var(--container-padding));
  height: 1px;
  width: 100vw;
  border-top: 1px solid #CACACA;
}

.address {
  color: #333;
}
.contacts__address {
  margin-bottom: 30px;
}
.address__caption {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 1.33;
}
.address__descr {
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 2;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__form {
  width: 400px;
  margin-bottom: 38px;
}

.form__caption {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}
.form__input {
  margin-bottom: 22px;
  height: 40px;
  padding: 4px 24px;
  border: 1px solid #333;
  border-radius: 100px;
}
.form__btn {
  max-width: 157px;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: var(--theme-color);
  border: 2px solid var(--theme-color);
  border-radius: 30px;
}

.contacts__socials-heading {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.contacts__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__social-item {
  width: 40px;
  height: 40px;
}


.contacts__social-item:not(:last-child) {
  margin-right: 20px;
}


.map {
  position: absolute;
  top: 0;
  left: 100%;
  width: 66vw;
  max-width: 1238px;
  height: 700px;
}
[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

[class*="gotoymaps"],
[class*="gototech"],
[class*="copyrights-pane"] {
  visibility: hidden;
}


.footer {
  background-color: #000;
}

/* .footer__container {
} */

.footer__content {
  padding: 47px 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-link {
  font-size: 0;
}

/* .footer__logo {
} */

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socials-item {
  width: 45px;
  height: 45px;
  font-size: 0;
}
.footer__socials-item:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 1024px) {
  .contacts__wrapper {
    max-width: 437px;
    min-width: 380px;
    width: 42.75vw;
    padding: 124px calc(-126px + 22.27vw) 104px 0;
  }
  .contacts__form {
    width: 335px;
  }
  .contacts__social-item {
  width: 60px;
  height: 60px;
  }
  .contacts__social-item:not(:last-child) {
    margin-right: 30px;
  }

  .footer__content {
    padding: 40px 0;
  }
  .footer__socials-item {
    width: 60px;
    height: 60px;
  }
  .footer__socials-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .contacts__content {
    padding: 17px 0 31px;
    /* overflow: visible; */
  }

  .contacts__heading {
    margin-bottom: 15px;
  }
  .contacts__divider {
    display: none;
  }

  .contacts__wrapper {
    max-width: 546px;
    min-width: auto;
    width: 100%;
    padding: 0;

    border-right: none;
  }

  .contacts__address {
    padding-bottom: 340px;
    margin-bottom: 14px;
  }

  .address__caption {
    font-size: 18px;
    line-height:24.5px;
  }
  .address__descr {
    font-size: 14px;
    line-height: 19px;
  }

  .map {
    top: 63.5px;
    left: calc(-1 * var(--container-padding));
    width: 100vw;
    height: 320px;
  }


  .contacts__form {
    width: 100%;  
    margin-bottom: 20px;
  }

  .form__caption {
    font-size: 18px;
    line-height: 32px;
  }

  .form__btn {
    max-width: 129px;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .form__input {
    max-width: 290px; 
    margin-bottom: 20px;
  }

  .contacts__socials-heading {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 32px;
  }

  .contacts__social-item {
    width: 50px;
    height: 50px;
  }
  .contacts__social-item:not(:last-child) {
    margin-right: 20px;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 20px 0;
  }
  .footer__socials-list {
    margin-bottom: 20px;
  }
  .footer__socials-item {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    height: 22px;
  }
}