/* .projects {
} */
/* .projects__container {
} */
.projects__content {
  padding: 90px 0 40px;
}
.projects__heading {
  margin-bottom: 23px;
}
.projects__descr {
  max-width: 1080px;
  margin-bottom: 21px;

  font-size: 1rem;
  line-height: 2;
  color: #333;
}
.projects__tip {
  width: 16px;
  height: 16px;
  padding: 0;
  line-height: 1;

  border: none;
  border-radius: 50%;
  background-color: var(--theme-color);
}

.tippy-box {
  padding: 8px 10px;
  border-radius: 0;
  background-color: var(--theme-color);
}

.tippy-content {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFF;
}

.tippy-arrow {
  color: var(--theme-color);
}


.projects__link {
  font-weight: 600;
  color: var(--theme-color);
}


.projects__caption {
  margin-bottom: 22px;

  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.33;
  color: #333;
}

.projects__swiper-container {
  position: relative;
}

.projects__swiper {
  margin: 0 75px;
}

/* .projects__slide {
} */
.projects__partners-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;

  height: 150px;
  padding: 15px;

  border: 1px solid #CACACA;
  font-size: 0;
}

.projects__partners-img {
  opacity: 0.5;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.projects__partners-img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.projects-button-prev,
.projects-button-next {
  position: absolute;
  top: calc(50% - 15px);
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #666;
}
.projects-button-prev {
  left: 0;
}
.projects-button-next {
  right: 0;
}
.projects-button-prev::after,
.projects-button-next::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.projects-button-prev::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.projects-button-next::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.projects-button-prev:hover,
.projects-button-next:hover {
  background-color: var(--theme-color);
}
.projects-button-prev:focus,
.projects-button-next:focus {
  outline: 2px solid #000;
}
.projects-button-prev:focus:active,
.projects-button-next:focus:active {
  background-color: var(--theme-color-dark);
  outline: 2px solid #000;
}

@media screen and (max-width: 1024px) {
  .projects__swiper {
    margin: 0 53px;
  }
  .projects__partners-link {
    height: 128px;
  }
}

@media screen and (max-width: 768px) {
  .projects__content {
    padding: 89px 0 40px;
  }
  .projects__heading {
    margin-bottom: 24px;
  }
  .projects__descr {
    max-width: 664px;
    margin-bottom: 25px;
  }
  .projects__caption {
    margin-bottom: 29px;
  }
  .projects__partners-link {
    height: 106px;
  }
}

@media screen and (max-width: 576px) {
  .projects__content {
    padding: 55px 0 40px;
  }
  .projects__heading {
    margin-bottom: 17px;
  }
  .projects__descr {
    margin-bottom: 10px;
    letter-spacing: -0.4px;
  }
  .projects__caption {
    font-size: 1.125rem;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .projects__swiper {
    margin: 0 47px;
  }
  .projects__partners-link {
    height: 65px;
  }
}