@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
    --color-firm: var(--color-pink);
    --color-green: #34C759;
    --color-orange: #E6B127;
    --color-red: #F06A4D;
    --color-pink: #9873FF;
    --color-grey: #C8C5D1;
    --color-grey-03: rgba(200, 197, 209, 0.3);
    --color-lightgrey: #F5F5F5;
    --color-txt: #B0B0B0;
    --color-black: #333333;
    --header-logo-size: 50px;
    --header-padding: 20px;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
}
  
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;

}
.header__container {
    position: fixed;
    top: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    
    width: 100vw;
    padding: var(--header-padding);

    background: #FFFFFF;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
    text-align: center;
    background-color: transparent;
}

.header__link {
    margin-right: 23px;

    font-size: 0;
}

.logo {
    width: var(--header-logo-size);
    height: var(--header-logo-size);
}
.logo circle {
    fill: var(--color-firm);
}

.input {
    padding: 0;

    color: var(--color-black);
}
.input::placeholder {
    color: var(--color-txt);
}

.header__input {
    border: 1px solid rgba(51, 51, 51, 0.2);
    font-size: 14px;
    line-height: 19px;
}

.header__search {
    width: 581px;
    padding: 12px 16px;
}

.main {
    padding: calc(var(--header-logo-size) + 2 * var(--header-padding) + 40px) 20px 0;
    min-height: 100vh;
    background-color: var(--color-lightgrey);
}

.main__container {
    max-width: 1226px;
}

.title {
    margin: 0;
}

.main__title {
    margin-bottom: 26px;
}

.main__table {
    margin: 0 auto 40px;
    width: 100%;

    border-collapse: collapse;
}

/* .table__head {} */

.table__head-col {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-txt);
    text-align: left;
    
}
.table__head-col.forward,
.table__head-col.backward {
    color: var(--color-pink);
}

.table__head-col__wrapper {
    display: inline-flex;
    align-items: center;
}

.table__sort {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("../img/arrow.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}

.table__head-col.forward .table__sort {
    opacity: 1;
}
.table__head-col.backward .table__sort {
    opacity: 1;
    transform: rotate(180deg);
}


.table__body {
    position: relative;
    background-color: #fff;
}

.table__body:after {
    /*  */
    display: none;
    /*  */
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    background: url("../img/spinner.svg");
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.table__row {

    border-bottom: 1px solid var(--color-lightgrey);
}

.table__col {
    padding: 20px 10px;

    border: none;
    font-size: 14px;
    line-height: 19px;
}

.table__col_Id {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-txt);
}

/* .table__col_Name {
} */

.table__col .text-time {
    color: var(--color-txt);
}

.btn-wrap {
    display: flex;
}

.btn-wrap-add-user {
    margin: 0 auto;
    max-width: 216px;

}

.btn-add {
    padding: 11.5px 26.5px 11.5px 58.5px;

    border: 1px solid #9873FF;

    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #9873FF;

    background-image: url("../img/add-user.svg");
    background-repeat: no-repeat;
    background-position: 26.5px center;
}

.btn-wrap-contacts {
    width: 108px;
    flex-wrap: wrap;
}

.btn-wrap-contacts .btn:not(:last-child) {
    margin-right: 7px;
}

.btn-wrap-actions .btn:not(:last-child) {
    margin-right: 30px;
}

.btn-edit,
.btn-delete {
    position: relative;
    padding-left: 16px;
    background-repeat: no-repeat;
    background-position: left center;
}
.btn-edit {
    background-image: url("../img/edit.svg");
}
.btn-delete {
    background-image: url("../img/delete.svg");
}
.btn-edit:hover {
    color: var(--color-pink);
}
.btn-delete:hover {
    color: var(--color-red);
}

.btn-contact {
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 0.7;
}

.btn-contact:hover {
    opacity: 1;
}

.btn-contact-phone {
    background-image: url("../img/contact-tel.svg");
}

.btn-contact-email {
    background-image: url("../img/contact-mail.svg");
}

.btn-contact-facebook {
    background-image: url("../img/contact-fb.svg");
}

.btn-contact-vkontakte {
    background-image: url("../img/contact-vk.svg");
}

.btn-contact-other {
    background-image: url("../img/contact-other.svg");
}

.btn-contact__tooltip {
    position: absolute;
    top: -40px;
    min-width: 16px;
    min-height: 16px;
    padding: 7px 14px;
    background-color: var(--color-black);
    color: #fff;
    opacity: 0;
}

.btn-contact:hover .btn-contact__tooltip {
    opacity: 1;
}